<div class="container">
    <h4>Cursuri</h4>
    {{#each payload.curs}}
        <div class="container border border-info">
            <div class="row">
                <p>Id curs: {{this.id}}  </p>
            </div>
            <div class="row">
                <p>Nume curs: {{this.name}}  </p>
            </div>
            <div class="row">
                <p>Descriere curs: {{this.description}}  </p>
            </div>
            <div class="row">
                <p>Context curs: {{this.context}}  </p>
            </div>
            <div class="row">
                <a class="btn btn-success" href="/quiz?c={{this.id}}">Incepe Testul</a>
            </div>
        </div>
    {{/each}}
</div>

<!--
model de payload atunci cand request-ul se face cu query parameter, ex: http://localhost:3000/cursuri?id=1 ,
unde id = id-ul cursului din tabela courses

{
        title: "PIE",
        user: username,
        curs: [{id:1,nume:"CURSUL 01",description:"Capitolul 1", context: "Lore imsum..."},
               {id:2,nume:"CURSUL 02",description:"Capitolul 1", context: "Lore imsum..."}
               ],
        cursuri: null
}
-->