<div class="card shadow-lg mb-3 p-2">
    <div class="card-header">
        <h3 class="card-title">Form Wizard</h3>
    </div>
    <div class="card-body">

        <div>
            <div id="step-01" class="">
                <form>
                    <div class="container">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                             data-interval="false">
                            <div class="carousel-inner">
                                {{#each payload.quiz}}
                                    <div class="carousel-item {{#ifEquals this.id 1}}active{{/ifEquals}}">
                                        <div class="form-group">
                                            <label><h5><b>{{this.description}}</b></h5></label></br>
                                            <b><i class="fa fa-question-circle text-info fa-lg"
                                                  aria-hidden="true"></i> {{this.context}}</b>
                                        </div>
                                        <div class="container">
                                            <input type="radio" id="id_q_{{this.id}}" name="q_{{this.id}}"
                                                   value={{this.choice_a}}>
                                            <label for="male"><b>a)</b> {{this.choice_a}}</label><br>
                                            <input type="radio" id="id_q_{{this.id}}" name="q_{{this.id}}"
                                                   value={{this.choice_b}}>
                                            <label for="female"><b>b)</b> {{this.choice_b}}</label><br>
                                            <input type="radio" id="id_q_{{this.id}}" name="q_{{this.id}}"
                                                   value={{this.choice_c}}>
                                            <label for="other"><b>c)</b> {{this.choice_c}}</label><br>
                                            <input type="radio" id="id_q_{{this.id}}" name="q_{{this.id}}"
                                                   value={{this.choice_d}}>
                                            <label for="other"><b>d)</b> {{this.choice_d}}</label><br>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>

                            <div class="card-footer p-1 text-center">
                                <a class="btn btn-orange text-white" href="#carouselExampleControls"
                                   role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="btn btn-orange text-white" href="#carouselExampleControls"
                                   role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<!--{
exemplu de payload cand se face request cu parametrul course=course_id din baza de date
http://localhost:3000/quiz?c=1

  title: 'PIE',
  user: 'admin',
  quiz: [
    BinaryRow {
      id: 1,
      choice_a: 'Avionul',
      choice_b: 'Masina',
      choice_c: 'Bicicleta',
      choice_d: 'Tramvaiul',
      description: 'Intrebarea 01',
      context: 'Care din urmatoarele mijloace de transport este cel mai rapid ?'
    },
    BinaryRow {
      id: 2,
      choice_a: 'Avionul',
      choice_b: 'Masina',
      choice_c: 'Bicicleta',
      choice_d: 'Tramvaiul',
      description: 'Intrebarea 01',
      context: 'Care din urmatoarele mijloace de transport este cel mai rapid ?'
    }
  ]
}
-->