<div class="card shadow-lg mb-3 p-2">
    <div class="card-header">
        <h4 class="page-title">Testarea cunostintelor</h4>
    </div>
    <div class="card-body">
        <div>
            <div id="step-01" class="">
                <form id="quiz_form" action="/quiz/submit" method="post">
                    <div class="container">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
                             data-interval="false">
                            <div class="carousel-inner">
                                {{#each payload.quiz}}
                                    <div class="carousel-item {{#ifEquals this.id 1}}active{{/ifEquals}}">
                                        <div class="form-group">
                                            <label><h5><b>{{this.description}}</b></h5></label></br>
                                            <b><i class="fa fa-question-circle text-info fa-lg"
                                                  aria-hidden="true"></i> {{this.context}}</b>
                                        </div>
                                        <div class="container question">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="id_q_{{this.id}}" name="{{this.id}}" value="a">
                                                <label class="form-check-label" for="id_q_{{this.id}}"><b>a)</b> {{this.choice_a}}</label>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="id_q_{{this.id}}" name="{{this.id}}" value="b">
                                                <label class="form-check-label"for="id_q_{{this.id}}"><b>b)</b> {{this.choice_b}}</label>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="id_q_{{this.id}}" name="{{this.id}}" value="c">
                                                <label class="form-check-label" for="id_q_{{this.id}}"><b>c)</b> {{this.choice_c}}</label>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" type="checkbox" id="id_q_{{this.id}}" name="{{this.id}}" value="d">
                                                <label class="form-check-label" for="id_q_{{this.id}}"><b>d)</b> {{this.choice_d}}</label>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>

                            <div class="card-footer p-1 text-center">
                                <div class="row p-1">
                                    <div class="col">
                                        <a class="btn btn-orange text-white" href="#carouselExampleControls"
                                           role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="btn btn-orange text-white" href="#carouselExampleControls"
                                           role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <input type="text" name="quiz_id" value="{{payload.quiz_id}}" hidden>
                                <div class="row p-1" hidden id="quiz_submit_container">
                                    <div class="col">
                                        <button  class="btn btn-success btn-lg pl-5 pr-5" type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>


<!--{
exemplu de payload cand se face request cu parametrul course=course_id din baza de date
http://localhost:3000/quiz?c=1

  title: 'PIE',
  user: 'admin',
  quiz: [
    BinaryRow {
      id: 1,
      choice_a: 'Avionul',
      choice_b: 'Masina',
      choice_c: 'Bicicleta',
      choice_d: 'Tramvaiul',
      description: 'Intrebarea 01',
      context: 'Care din urmatoarele mijloace de transport este cel mai rapid ?'
    },
    BinaryRow {
      id: 2,
      choice_a: 'Avionul',
      choice_b: 'Masina',
      choice_c: 'Bicicleta',
      choice_d: 'Tramvaiul',
      description: 'Intrebarea 01',
      context: 'Care din urmatoarele mijloace de transport este cel mai rapid ?'
    }
  ]
}
-->